# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Build artifacts and local environments
*.egg-info/
dist/
build/
.qlc_verify_env/

# Cython
*.c
*.so

# OS-specific
.DS_Store
*.swp
*~
*.tar.gz*
*.whl
*.zip
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.7z

# QLC specific
qlc/sh/ToDo/

# Private development directory
qlc-dev/
qlc/py/*.py
qlc/py/*.c
tests/
