# MANIFEST.in

# Include root-level metadata
include README.md
include LICENSE
include pyproject.toml

# Include the top-level package and scripts
include qlc/__init__.py
include qlc/install.py
include qlc/cli.py
recursive-include qlc/cli *.py

# For building from source (sdist), include the Cython files.
# No longer needed as we compile from .py files now.

# --- Exclusions ---
# Exclude the source files from the compiled directory
prune qlc/py

# Now, specifically include back ONLY the compiled modules.
# This ensures no .py or .c files from this dir get into the wheel.
recursive-include qlc/py *.so
recursive-include qlc/py __init__.py

# Prune other directories
prune qlc/examples
prune qlc/sh/ToDo

# Exclude common unwanted files
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
